{% extends "base.html" %}

{% block title %}Home - Technnovate{% endblock %}

{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="text-center">
            <div class="hero">
                <h1 class="display-4 text-primary animated slideInDown mb-0">Scientific<span class="text-white">Tools</span></h1>
                <p class="text-white">Innovate with Us<br>Transforming ideas into reality.</p>
                <button class="cta-button" onclick="scrollToBottom(); return false">Explore Solutions</button>
            </div>

            <nav aria-label="breadcrumb animated slideInDown">
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Bottom Containers -->
    <div class="row g-4 justify-content-center py-5">
        <div class="container">
            <h2 class="display-6 text-primary animated slideInDown mb-0">Unit<span class="text-dark">Converter</span></h2>
            <p>Convert one form of unit into another 
                <a href="unit_conversion.html" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </p>
            
        </div>
        <div class="container">
            <h2 class="display-6 text-primary animated slideInDown mb-0">Raman<span class="text-dark">Calculator</span></h2>
            <p>Convert wavelength into wavenumber
                <a href="404.html" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </p>
           
        </div>
        <div class="container">
            <h2 class="display-6 text-primary animated slideInDown mb-0">Matrix<span class="text-dark">Method</span></h2>
            <p>Transfer matrix method for layered structures(dielectric only)
                <a href="#" target="_blank"><i class="fas fa-external-link-alt"></i></a>
            </p>
           
        </div>
    </div>

<!-- Bottom Containers end -->



{% endblock %}
